@model IEnumerable<SchoolProject.WebApplication.DTO.Department>

@{
    ViewBag.Title = "Departments";
}

<h2>Department</h2>

<table id="datatable" class="table table-hover">
    <thead>
        <tr>
            <th>@Html.Raw("Department Code")</th>
            <th>@Html.Raw("Organisation")</th>
            <th>@Html.Raw("Portfolio")</th>
            <th>@Html.Raw("Department")</th>
            <th>@Html.Raw("Status")</th>
            <th>@Html.ActionLink("Create New", "Create")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DepartmentCode)</td>
                <td>@Html.DisplayFor(modelItem => item.OrganisationStructureName)</td>
                <td>@Html.DisplayFor(modelItem => item.PortfolioName)</td>
                <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                <td>@Html.DisplayFor(modelItem => item.StatusName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })
                </td>
            </tr>
        }
    </tbody>
    <tr>
        <th>@Html.Raw("Department Code")</th>
        <th>@Html.Raw("Organisation")</th>
        <th>@Html.Raw("Portfolio")</th>
        <th>@Html.Raw("Department")</th>
        <th>@Html.Raw("Status")</th>
        <th>@Html.ActionLink("Create New", "Create")</th>
    </tr>
    <tfoot>

    </tfoot>
</table>
