@model IEnumerable<SchoolProject.WebApplication.DTO.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Manage Employees</h2>
<hr />
<div class="table-responsive">
<table id="datatable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.Raw("Employee Code")</th>
            <th>@Html.Raw("Job Grade")</th>
            <th>@Html.Raw("Employee Name")</th>
            <th>@Html.Raw("Team")</th>
            <th>@Html.Raw("Department")</th>
            <th>@Html.Raw("Status")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EmployeeCode)</td>
                <td>@Html.DisplayFor(modelItem => item.JobGradeName)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.Team)</td>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>@Html.DisplayFor(modelItem => item.StatusName)</td>
                <td>
                   
                    <a href="@Url.Action("UpdateEmployee", "Administration", new { employeeRecordId = item.EmployeeRecordId  })" class="btn btn-sm btn-primary" role="button">
                        <span class="glyphicon glyphicon-pencil">
                        </span>
                    </a> 
                    <a href="@Url.Action("RemoveEmployee", "Administration", new { employeeRecordId = item.EmployeeRecordId })" class="btn btn-sm btn-danger" role="button">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a href="@Url.Action("CreateEmployee", "Administration")" class="btn btn-md btn-primary" role="button">
            <span class="glyphicon glyphicon-plus">
            </span>Add New Employee
        </a>
    </div>
</div>
