@model IEnumerable<SchoolProject.WebApplication.DTO.JobGrade>

@{
    ViewBag.Title = "JobGrade";
}

<h2>Job Grade</h2>

<table id="datatable" class="table table-hover">
    <thead>
        <tr>
            <th>@Html.Raw("Code")</th>
            <th>@Html.Raw("Name")</th>
            <th>@Html.Raw("Status")</th>
            <th>@Html.ActionLink("Create New", "Create")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobGradeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobGradeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>@Html.Raw("Code")</th>
            <th>@Html.Raw("Name")</th>
            <th>@Html.Raw("Status")</th>
            <th>@Html.ActionLink("Create New", "Create")</th>
        </tr>
    </tfoot>
</table>
