@model IEnumerable<SchoolProject.WebApplication.Models.AdminPerformanceYear>
@using SchoolProject.WebApplication.ViewModels;
@{
    ViewBag.Title = "PerformanceYear";
}

<h2>Performance Review Years</h2>

<div class="table-responsive">
    <table id="datatable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Raw("Performance Year Description")
                </th>
                <th>
                    @Html.Raw("Start Date")
                </th>
                <th>
                    @Html.Raw("End Date")
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.Raw(item.PerformanceYearName)
                    </td>
                    <td>
                        @Html.Raw(item.StartDate.ToString("MMMM dd yyyy"))
                    </td>
                    <td>
                        @Html.Raw(item.EndDate.ToString("MMMM dd yyyy"))
                    </td>
                    <td>
                        <a href="@Url.Action("ManagePerformanceYear", "Administration", new { performanceYearId = item.PerformanceYearId , formMode = FormModeOption.EDIT  })" class="btn btn-md btn-primary" role="button">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                        </a>
                        <a href="@Url.Action("ManagePerformanceYear", "Administration", new { performanceYearId = item.PerformanceYearId, formMode = FormModeOption.DELETE  })" class="btn btn-md btn-danger" role="button">
                            <span class="glyphicon glyphicon-remove">
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <a href="@Url.Action("CreatePerformaceYear", "Administration")" class="btn btn-md btn-primary" role="button">
            <span class="glyphicon glyphicon-plus">
            </span>Add New Performance Year
        </a>
    </div>
</div>
