@model IEnumerable<SchoolProject.WebApplication.DTO.ReportingStructure>

@{
    ViewBag.Title = "ReviewReportingStructure";
}

<h2>Employees Reporting Structure</h2>

 <table id="datatable" class="table table-hover">
    <thead>
        <tr>
            <th>@Html.Raw("Job Grade")</th>
            <th>@Html.Raw("Employee")</th>
            <th>@Html.Raw("Manager")</th>
            <th>@Html.Raw("Document Type")</th>
            <th>@Html.Raw("Status")</th>
            <th>@Html.ActionLink("Create New", "Create")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.JobGradeName)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.ManagerName)</td>
                <td>@Html.DisplayFor(modelItem => item.DocumentTypeName)</td>
                <td>@Html.DisplayFor(modelItem => item.StatusName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeRecordId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeRecordId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeRecordId })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>@Html.Raw("Job Grade")</th>
            <th>@Html.Raw("Employee")</th>
            <th>@Html.Raw("Manager")</th>
            <th>@Html.Raw("Document Type")</th>
            <th>@Html.Raw("Status")</th>
            <th></th>
        </tr>
    </tfoot>
</table>
