@model SchoolProject.WebApplication.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>Change User Account Password</h2>
<hr />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.UserId)


    @*Display Error messages*@
if ((!string.IsNullOrEmpty(Model.ProcessingStatusMessage)) && (!Model.ProcessingStatus)) {
    <div class="row">
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <p>
                @Html.Raw(Model.ProcessingStatusMessage)
            </p>
        </div>
    </div>
}

    @*Display Processing Status*@
if ((!string.IsNullOrEmpty(Model.ProcessingStatusMessage)) && (Model.ProcessingStatus)) {
    <div class="row">
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <p>
                @Html.Raw(Model.ProcessingStatusMessage)
            </p>
        </div>
    </div>
}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })<br />
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })<br />
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

           
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <br />
                    <a href="@Url.Action("ManageUsers", "Account")" class="btn btn-md btn-primary" role="button">
                        <span class="glyphicon glyphicon-chevron-left glyphicon-chevron-left">
                        </span>&nbsp;Back To User Listing
                    </a>
                    <button id="SubmitChangePassword" type="submit" class="btn btn-md btn-primary">
                        <span class="glyphicon glyphicon-pencil">
                        </span>&nbsp;Reset User Password
                    </button>
                </div>
            </div>
        </div>
    </div>
}

