@model IEnumerable<SchoolProject.WebApplication.ViewModels.ManageUserAccount>
@{
    ViewBag.Title = "Manage Users";
}

<h2>Manage Users</h2>

<div class="table-responsive">
    @if (ViewBag.Message != null) {
        if ((bool)ViewBag.MessageType == true) {
        <div class="row">
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <p>
                    @Html.Raw(ViewBag.Message)
                </p>
            </div>
        </div>
        }
        else {
            <div class="row">
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <p>
                        @Html.Raw(ViewBag.Message)
                    </p>
                </div>
            </div>
        }
    }
    <table id="datatable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Raw("Employee Code")
                </th>
                <th>
                    @Html.Raw("Login Username")
                </th>
                <th>
                    @Html.Raw("Full Name")
                </th>
                <th>
                    @Html.Raw("Email Address")
                </th>
                <th>
                    @Html.Raw("Application Role")
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.Raw(item.EmployeeCode)
                    </td>
                    <td>
                        @Html.Raw(item.Username)
                    </td>
                    <td>
                        @Html.Raw(item.FullName)
                    </td>
                    <td>
                        @Html.Raw(item.Email)
                    </td>
                    <td>
                        @Html.Raw(item.Role)
                    </td>
                    <td>
                        <a href="@Url.Action("ChangePassword", "Account", new { userId = item.UserId })" class="btn btn-md btn-primary" role="button" data-hover="tooltip" title="Change Password" data-placement="top">
                            <span class="glyphicon glyphicon-pencil">Reset Password
                            </span>
                        </a>
                        <a href="@Url.Action("AssignUserAdminRole", "Account", new { userId = item.UserId })" class="btn btn-md btn-primary" role="button" data-hover="tooltip" title="Assign User Admin Role" data-placement="top">
                            <span class="glyphicon glyphicon-user">
                                Assign Admin Role
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <a href="@Url.Action("RegisterUser", "Account")" class="btn btn-md btn-primary" role="button">
            <span class="glyphicon glyphicon-plus">
            </span>Add New Employee Login Details
        </a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle=tooltip]').tooltip();
        $('[rel=tooltip]').tooltip();


    });
</script>

