<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PERFORMANCE MANAGEMENT SYSTEM | </title>
    @Styles.Render("~/bundle/css")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- Left Navigation-->
            @Html.Partial("_LeftNavigation")
            <!-- /Left Navigation-->

            <!-- Top Vavigation -->
            @Html.Partial("_TopNavigation")
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->

            <!-- modal placeholder-->
            <div id='myModal' class='modal'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content animated flipInY">
                        <div id='myModalContent'></div>
                    </div>
                </div>
            </div>

            <div class="modal inmodal" id="MessageModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content animated flipInY">
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>


            <!-- footer content -->
            @Html.Partial("_Footer")
            <!-- /footer content -->

        </div>
    </div>

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/FastClick")
    @Scripts.Render("~/bundles/NProgress")
    @Scripts.Render("~/bundles/Chart")
    @Scripts.Render("~/bundles/Gauge")
    @Scripts.Render("~/bundles/iCheck")
    @Scripts.Render("~/bundles/Skycons")
    @Scripts.Render("~/bundles/Flot")
    @Scripts.Render("~/bundles/JQVMap")
    @Scripts.Render("~/bundles/Daterangepicker")
    @Scripts.Render("~/bundles/Datatables")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/CustomScript")
    
   
</body>
</html>
