<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>PMS</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/images/user.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>@ViewBag.FullName</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-edit"></i> Admin <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a>Employee Management<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="@Url.Action("Status", "Administration")">Statuses</a></li>
                                    <li><a href="@Url.Action("DocumentType", "Administration")">Document Types</a></li>
                                    <li><a href="@Url.Action("OrganisationStructure", "Administration")">Organisation</a></li>
                                    <li><a href="@Url.Action("Portfolios", "Administration")">Portfolios</a></li>
                                    <li><a href="@Url.Action("Department", "Administration")">Department</a></li>
                                    <li><a href="@Url.Action("Team", "Administration")">Teams</a></li>
                                    <li><a href="@Url.Action("JobGrade", "Administration")">Job Grades</a></li>
                                    <li><a href="@Url.Action("Employees", "Administration")">Employees</a></li>
                                    <li><a href="@Url.Action("ReviewReportingStructure", "Administration")">Reporting Structure</a></li>
                                    <li><a href="@Url.Action("ManageUsers", "Account")">User Login Details</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("StrategicGoals", "Administration")">Strategic Goals</a></li>
                            <li><a href="@Url.Action("Terms", "Administration")">Review terms</a></li>
                            <li><a href="@Url.Action("PerformanceYear", "Administration")">Performance Year</a></li>
                            <li><a href="@Url.Action("PerformanceYearReviews", "Administration")">Review period</a></li>
                            <li><a href="@Url.Action("PerformanceReviewPeriodLinking", "Administration")">Link performance review period</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Manage Performance<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.Action("ManageReview", "PerformanceManagement", new { username = User.Identity.Name})">Manage performace reviews</a></li>
                            <li><a href="@Url.Action("CreateReviewDocument", "PerformanceManagement")">Create performance document</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </div>
            <div class="menu_section">
               
                <ul class="nav side-menu">
                    
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="#">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
